name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
            cargo build --verbose
            npm install qucom-sdk
    - name: Run tests
      run: |
          cargo test --verbose
          node tests/js/basic.js
